/*
Syntax error: Undefined mixin 'container'.
        on line 30 of /Users/tdreyno/Sites/awardwinningfjords/source/stylesheets/best-of-2010.css.sass, in `container'
        from line 30 of /Users/tdreyno/Sites/awardwinningfjords/source/stylesheets/best-of-2010.css.sass

25:     +box-shadow(transparentize(#fff, 0.95), 0, 1px, 0)
26:     h2
27:       color: $font-color
28: 
29:   #frame, .center
30:     +container
31:     
32:   #post
33:     +columns(10)
34:     h2
35:       padding-bottom: 3px

Backtrace:
/Users/tdreyno/Sites/awardwinningfjords/source/stylesheets/best-of-2010.css.sass:30:in `container'
/Users/tdreyno/Sites/awardwinningfjords/source/stylesheets/best-of-2010.css.sass:30
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:168:in `visit_mixin'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:234:in `visit_rule'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:234:in `visit_rule'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/tree/root_node.rb:20:in `render'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/engine.rb:300:in `_render'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sass-3.1.10/lib/sass/engine.rb:247:in `render'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/tilt-1.3.3/lib/tilt/css.rb:24:in `evaluate'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/middleman-2.0.13.1/lib/middleman/renderers/sass.rb:33:in `evaluate'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/tilt-1.3.3/lib/tilt/template.rb:76:in `render'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sinatra-1.3.1/lib/sinatra/base.rb:625:in `render'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/padrino-core-0.10.5/lib/padrino-core/application/rendering.rb:195:in `render'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/middleman-2.0.13.1/lib/middleman/base.rb:193:in `process_request'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/middleman-2.0.13.1/lib/middleman/base.rb:83:in `block in registered'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sinatra-1.3.1/lib/sinatra/base.rb:1212:in `call'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sinatra-1.3.1/lib/sinatra/base.rb:1212:in `block in compile!'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sinatra-1.3.1/lib/sinatra/base.rb:821:in `[]'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sinatra-1.3.1/lib/sinatra/base.rb:821:in `block in process_route'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sinatra-1.3.1/lib/sinatra/base.rb:819:in `catch'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sinatra-1.3.1/lib/sinatra/base.rb:819:in `process_route'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sinatra-1.3.1/lib/sinatra/base.rb:920:in `error_block!'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sinatra-1.3.1/lib/sinatra/base.rb:707:in `block in call!'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sinatra-1.3.1/lib/sinatra/base.rb:871:in `block in invoke'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sinatra-1.3.1/lib/sinatra/base.rb:871:in `catch'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sinatra-1.3.1/lib/sinatra/base.rb:871:in `invoke'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sinatra-1.3.1/lib/sinatra/base.rb:707:in `call!'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sinatra-1.3.1/lib/sinatra/base.rb:692:in `call'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/rack-1.3.5/lib/rack/urlmap.rb:52:in `block in call'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/rack-1.3.5/lib/rack/urlmap.rb:46:in `each'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/rack-1.3.5/lib/rack/urlmap.rb:46:in `call'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/middleman-2.0.13.1/lib/middleman/features/minify_javascript.rb:17:in `call'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/rack-codehighlighter-0.5.0/lib/rack/codehighlighter.rb:25:in `call'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/rack-1.3.5/lib/rack/head.rb:9:in `call'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sinatra-1.3.1/lib/sinatra/base.rb:1334:in `block in call'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sinatra-1.3.1/lib/sinatra/base.rb:1403:in `synchronize'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/sinatra-1.3.1/lib/sinatra/base.rb:1334:in `call'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/rack-test-0.6.1/lib/rack/mock_session.rb:30:in `request'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/rack-test-0.6.1/lib/rack/test.rb:219:in `process_request'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/rack-test-0.6.1/lib/rack/test.rb:57:in `get'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/middleman-2.0.13.1/lib/middleman/builder.rb:24:in `tilt_template'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/middleman-2.0.13.1/lib/middleman/builder.rb:178:in `handle_path'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/middleman-2.0.13.1/lib/middleman/builder.rb:237:in `block in handle_directory'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/middleman-2.0.13.1/lib/middleman/builder.rb:231:in `each'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/middleman-2.0.13.1/lib/middleman/builder.rb:231:in `handle_directory'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/middleman-2.0.13.1/lib/middleman/builder.rb:233:in `block in handle_directory'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/middleman-2.0.13.1/lib/middleman/builder.rb:231:in `each'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/middleman-2.0.13.1/lib/middleman/builder.rb:231:in `handle_directory'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/middleman-2.0.13.1/lib/middleman/builder.rb:242:in `execute!'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/middleman-2.0.13.1/lib/middleman/builder.rb:157:in `invoke!'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/middleman-2.0.13.1/lib/middleman/builder.rb:206:in `invoke!'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/thor-0.14.6/lib/thor/actions.rb:95:in `action'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/middleman-2.0.13.1/lib/middleman/builder.rb:120:in `build_all_files'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/thor-0.14.6/lib/thor/task.rb:22:in `run'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/thor-0.14.6/lib/thor/invocation.rb:118:in `invoke_task'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/thor-0.14.6/lib/thor/invocation.rb:124:in `block in invoke_all'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/thor-0.14.6/lib/thor/invocation.rb:124:in `each'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/thor-0.14.6/lib/thor/invocation.rb:124:in `map'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/thor-0.14.6/lib/thor/invocation.rb:124:in `invoke_all'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/middleman-2.0.13.1/lib/middleman/cli.rb:65:in `build'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/thor-0.14.6/lib/thor/task.rb:22:in `run'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/thor-0.14.6/lib/thor/invocation.rb:118:in `invoke_task'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/thor-0.14.6/lib/thor.rb:263:in `dispatch'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/thor-0.14.6/lib/thor/base.rb:389:in `start'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/middleman-2.0.13.1/bin/middleman:52:in `start_cli!'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/middleman-2.0.13.1/bin/middleman:47:in `did_locate_middleman_project'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/middleman-2.0.13.1/bin/middleman:20:in `locate_middleman_root!'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/middleman-2.0.13.1/bin/middleman:70:in `<top (required)>'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/bin/middleman:19:in `load'
/Users/tdreyno/.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/bin/middleman:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'container'.\A         on line 30 of /Users/tdreyno/Sites/awardwinningfjords/source/stylesheets/best-of-2010.css.sass, in `container'\A         from line 30 of /Users/tdreyno/Sites/awardwinningfjords/source/stylesheets/best-of-2010.css.sass\A \A 25:     +box-shadow(transparentize(#fff, 0.95), 0, 1px, 0)\A 26:     h2\A 27:       color: $font-color\A 28: \A 29:   #frame, .center\A 30:     +container\A 31:     \A 32:   #post\A 33:     +columns(10)\A 34:     h2\A 35:       padding-bottom: 3px"; }
